streamlit==1.35.0
pymarc== 5.0.0
lxml==4.9.3
requests==2.31.0
PyMuPDF==1.23.19
langdetect==1.0.9
sentence-transformers==2.2.2
faiss-cpu==1.7.4
# Optional: Only add ipython if you really need it
ipython==8.18.1
huggingface_hub==0.20.3
